/* indicador de slider */
.indicador {
  position: absolute;
  top: 20px;
  left: 30px;
}

/* #botonCerrar */
#botonCerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9; 
}

/* botones circulares */
.botonesCirculares {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botonCircular {
  margin-right: 10px;
}

.hashtag {
  font-size: 12px;
  text-align: center;
}

.dobleBorde {
  border: solid 2px #ca2d8c;
  padding: 2px;
  background-color: white;
}
